aalto-boss==1.9.1
attrs==22.2.0
cachetools==5.3.0
GitPython==3.1.31
importlib-metadata==6.3.0
Jinja2==3.1.2
jsonschema==4.17.3
matplotlib==3.7.1
mdurl==0.1.2
numpy==1.26.4
packaging==23.0
pandas==2.2.2
paramz>=0.9.6
Pillow~=9.5.0
scipy==1.10.1
streamlit~=1.37.0
toml==0.10.2
tomli-w>=1.2.0
toolz==0.12.0
tornado==6.4.2
typing_extensions==4.5.0
pytest~=7.4.0